email-outreach-followup-sequence.json
{
  "name": "Eesha_knolsights_workflow",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QADev597qATiTspohEFeMBhdSWLGr4JBXk-haTwZJDk",
          "mode": "list",
          "cachedResultName": "HEOR",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QADev597qATiTspohEFeMBhdSWLGr4JBXk-haTwZJDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QADev597qATiTspohEFeMBhdSWLGr4JBXk-haTwZJDk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1872,
        80
      ],
      "id": "6dc5cb1e-b9b1-43e0-b8a3-4c83ec4b70c8",
      "name": "Get row(s) in sheet",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GCYYQj9Tc2a4Dq7J",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nreturn items.map(item => {\n  const row = item.json;\n\n  // Parse dd/mm/yyyy safely into a real Date object\n  const [day, month, year] = row.date.split('/');\n  const parsedDate = new Date(`${year}-${month}-${day}`);\n\n  return {\n    json: {\n      name: row[\"First Name\"],                                 // string (no change)\n      email: row[\"Email\"], \n      title: row[\"Title\"],// string (no change)\n      company: row[\"Company\"],\n      designation:row.designation,\n      drug_name: row.drug_name,// string (no change)\n      status: row.status,  \n      folow_up_number :row.folow_up_number,// string (you can customize if \n      date: parsedDate,                       // convert string to Date object\n      indication: row.indication,\n      phase: row.phase,\n      signature: `<div style=\"margin-top: 20px; line-height: 1.6; color: #333333;\">\n                      <div style=\"margin-bottom: 5px;\"><strong>Kind Regards,</strong></div>\n                      <div style=\"font-weight: bold;\">Eesha Joshi</div>\n                      <div>Data Analyst</div>\n                      <div><a href=\"mailto:eesha.joshi@pienomial.com\" target=\"_blank\" rel=\"noopener noreferrer\" style=\"color: #0c6372; text-decoration: underline;\">eesha.joshi@pienomial.com</a></div>\n                      <div>\n                        <a href=\"https://www.pienomial.com/\" target=\"_blank\" rel=\"noopener noreferrer\" style=\"color: #0c6372; text-decoration: underline;\">Pienomial</a> | \n                        <a href=\"https://www.linkedin.com/in/eesha-joshi-552813204/\" target=\"_blank\" rel=\"noopener noreferrer\" style=\"color: #0c6372; text-decoration: underline;\">LinkedIn</a>\n                      </div>\n                      <div style=\"margin-top: 10px;\">\n                        <img width=\"96\" height=\"36\" src=\"https://ci3.googleusercontent.com/mail-sig/AIorK4xNTHpGKEvfyDGjz1iVfPYmiFn34NUBMOk4uvO51Hh4aDpC6DtwG0VJpBd6uqDD31EZKl042WQ38sEO\" alt=\"Signature\" style=\"border: 0; height: auto; display: block;\">\n                      </div>\n                    </div>`,\n    }\n  };\n});\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1648,
        80
      ],
      "id": "c5cda6c9-10cb-45ad-8fcb-6a74d9a353d6",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -752,
        80
      ],
      "id": "354d3b86-36b8-4885-b299-44e449c3e5d2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uCijnEkZc_7xYXReEKmCj1rxN6GF7w8cqMnJWfQm3Aw",
          "mode": "list",
          "cachedResultName": "n8n workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uCijnEkZc_7xYXReEKmCj1rxN6GF7w8cqMnJWfQm3Aw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 603967961,
          "mode": "list",
          "cachedResultName": "clincal_template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uCijnEkZc_7xYXReEKmCj1rxN6GF7w8cqMnJWfQm3Aw/edit#gid=603967961"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "follow_up_number",
              "lookupValue": "={{ $json.folow_up_number }}"
            },
            {
              "lookupColumn": "designation",
              "lookupValue": "={{ $json.designation }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -528,
        -112
      ],
      "id": "85afdac7-6e15-4022-830a-43c103a71d9d",
      "name": "Get row(s) in sheet1",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GCYYQj9Tc2a4Dq7J",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -80,
        -48
      ],
      "id": "eb50dd8b-9211-4b06-881d-9d522dfa0928",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "87b70e34-9011-4555-af1a-a8dcbf6564a6",
              "name": "Template",
              "value": "={{ \n  $json.Template\n    .replaceAll('{FirstName}', $json[\"name\"])\n    .replaceAll('{Company}', $json[\"company\"])\n    .replaceAll('{DrugName/TherapeuticArea}',$json.drug_name)\n    .replaceAll('{DrugName}',$json.drug_name)\n    .replaceAll('{YourName}',$json.signature)\n    .replaceAll('{Phase}',$json.phase)\n    .replaceAll('{TherapeuticArea}',$json.indication)\n    .replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')\n    .replaceAll('{Email}',$json.email)\n}}",
              "type": "string"
            },
            {
              "id": "34410ae9-63a6-49b8-a264-517ae2ccd367",
              "name": "Subject",
              "value": "={{ \n  $json.Subject\n    .replaceAll('{FirstName}', $json[\"name\"])\n    .replaceAll('{Company}', $json[\"company\"])\n    .replaceAll('{DrugName/TherapeuticArea}',$json.drug_name)\n    .replaceAll('{DrugName}',$json.drug_name)\n    .replaceAll('{Phase}',$json.phase)\n    .replaceAll('{TherapeuticArea}',$json.indication)\n}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        -48
      ],
      "id": "c6b8ca5a-d13f-4a64-abd7-f83c660bae90",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        592,
        -96
      ],
      "id": "930b8634-1c6f-4730-af81-521ce4a377ba",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1QADev597qATiTspohEFeMBhdSWLGr4JBXk-haTwZJDk",
          "mode": "list",
          "cachedResultName": "HEOR",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QADev597qATiTspohEFeMBhdSWLGr4JBXk-haTwZJDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QADev597qATiTspohEFeMBhdSWLGr4JBXk-haTwZJDk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{ $json.labelIds[0] }}",
            "folow_up_number": "={{ $json.folow_up_number +1 }}",
            "date": "={{ new Date(Date.now() + 0 * 24 * 60 * 60 * 1000).toLocaleDateString('en-GB') }}",
            "Email": "={{ $json.email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Link",
              "displayName": "Company Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Person Linkedin Url",
              "displayName": "Person Linkedin Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Country",
              "displayName": "Company Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "designation",
              "displayName": "designation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "drug_name",
              "displayName": "drug_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "indication",
              "displayName": "indication",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phase",
              "displayName": "phase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "folow_up_number",
              "displayName": "folow_up_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1040,
        128
      ],
      "id": "0c200e27-8daa-4238-9680-8a80293a56b8",
      "name": "Append or update row in sheet",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GCYYQj9Tc2a4Dq7J",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst updatedItems = items.map((item) => {\n  const message = item.json.Template || '';\n  \n  const formattedMessage = `<div style=\"font-size:14px; line-height:1.6;\">${message.replace(/\\n/g, \"<br>\").replaceAll('    ', '&nbsp;&nbsp;&nbsp;&nbsp;')}<br><h5 style=\"margin: 0; font-size: 12px; color: #666666;\">\n                            To unsubscribe from such emails, please click \n                              <a href=\"https://signup.knolens.com/unsubscribe?email={Email}&name={FirstName}\" target=\"_blank\" rel=\"noopener noreferrer\" style=\"color: #0c6372; text-decoration: underline;\">Unsubscribe</a>\n                          </h5></div>`;\n  \n  item.json.Template = formattedMessage;\n  return item;\n});\n\nreturn updatedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        -112
      ],
      "id": "9fa1dcef-c70e-4b6e-a230-67dc4ca02fe4",
      "name": "Code1"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        592,
        160
      ],
      "id": "8f9c171b-ad8c-480a-8cd1-d521f083ecef",
      "name": "Wait",
      "webhookId": "ef81c719-b9b6-4a7d-b294-5c80b6d89150"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst randomNumber = Math.floor(Math.random() * (50 - 40 + 1)) + 40;\nconst selectedItems = items.slice(0, randomNumber);\nreturn selectedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        80
      ],
      "id": "415cf177-fef9-479c-ad99-fd5fbaede99f",
      "name": "Code2"
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 5,
        "output": "={{\n  (() => {\n    const followUp = $json.folow_up_number;\n    const inputDate = new Date($json.date);\n\n    return (followUp > 2 && followUp <= 5 && inputDate < new Date(Date.now() - 5 * 24 * 60 * 60 * 1000)) ? 0\n         : (followUp === 2 && inputDate < new Date(Date.now() - 3 * 24 * 60 * 60 * 1000)) ? 1\n         : (followUp === 1 && inputDate < new Date(Date.now() - 3 * 24 * 60 * 60 * 1000)) ? 2\n          : (followUp > 5) ? 3\n         : 4;\n  })()\n}}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1424,
        32
      ],
      "id": "e7996685-df3d-413f-ac30-8bf037497e8c",
      "name": "Switch"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1200,
        64
      ],
      "id": "78602c1f-935b-40a1-a82d-c8f9d0b2adea",
      "name": "Merge2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0e785ac0-d015-48f5-bbbf-c723918dafa5",
              "leftValue": "={{ \n  (() => {\n    const today = new Date().getDay();\n    return today;\n  })()\n}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "93fe7b85-28b5-4e9e-980b-4e346f45ed85",
              "leftValue": "={{ \n  (() => {\n    const today = new Date().getDay();\n    return today;\n  })()\n}}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2096,
        80
      ],
      "id": "1ce32b6d-c954-4ba6-b767-b10e5e4a65a6",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.Subject }}",
        "message": "={{ $json.Template }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Eesha"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        368,
        32
      ],
      "id": "4045f851-820a-4c3d-b744-082699a21591",
      "name": "Send a message",
      "webhookId": "19fae708-cc18-4d0a-8d82-051c928351b0",
      "credentials": {
        "gmailOAuth2": {
          "id": "JeKBKIQ31MTmaG1q",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 30 22 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2320,
        80
      ],
      "id": "971ed1ed-2e11-4a6d-bcad-56df7220f3c5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        816,
        -96
      ],
      "id": "b9d4ecf2-1ce4-49f1-b4ae-4f4a619c5077",
      "name": "Wait1",
      "webhookId": "3b656932-357f-43bc-9e31-ca24da3ae08f"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bd16104d-962a-4d20-89c8-464681461be2",
  "meta": {
    "instanceId": "8549559f708a5c29c7c95bf630e7744949bc93798f24e0fb85bb89a168738c99"
  },
  "id": "94QR5DeeyX3d5GXi",
  "tags": []
}
